*~
venv/*
elastic*
pjtk2/static/admin/*
pjtk2/static/js/*
pjtk2/static/css/*
pjtk2/static/img/*
static/*
admin2/*
admin/*
uploads/*
static_root/*
main/whoosh*
*.pyc
*.pyr
db/*
coverage/*
TAGS
.pylintrc
old_static/*
templates/old*
*.mdb
simple_auth/*
*fly_make*