*~
*#*
venv/*
elastic*
pjtk2/static/admin/*
pjtk2/static/js/*
pjtk2/static/css/*
pjtk2/static/img/*
tickets/*
static/*
admin2/*
admin/*
uploads/*
static_root/*
main/whoosh*
*.pyc
*.pyr
db/*
coverage/*
fixtures/*
*flycheck*
TAGS
.pylintrc
old_static/*
templates/old*
*.mdb
simple_auth/*
*fly_make*
.dir-locals.el
fixtures/*
migration/error.log
migration/data/archive.zip
.dir-locals.el
pytest.ini
