*.pyc
*.pyr
.pylintrc
*.mdb

pjtk2/static/*
static_root/*
static/*
uploads/*

pjtk2.egg-info/*
dist/*
.cache/*
.pytest_cache/*
.flake8
.coverage
.coveragerc
conftest.py
*htmlcov*
*sandbox*

utilities/get_ON_ER_FN011_data.py
utilities/glb_data/*

venv/*