include LICENSE.md
include README.rst
recursive-include pjtk2/docs *
recursive-include pjtk2/static *
recursive-include pjtk2/templates *
recursive-exclude utilities *
  .git *
  .cache *
  __pycache__ *
  .pytest_cache *
  main *
  static *
  static_root *
  uploads *
  htmlcov *
 

exclude conftest.py
 .coverage
 .coveragerc
 .dir-locals.el
 djangoplugin.py
 django_settings.py
 .flake8
 .gitignore
 httplogger.py
 manage.py
 pytest.ini
 READ_ME.org
 runserver.py

