{% extends "registration/auth_base.html" %}


{% block title %}Change Password{% endblock %}
{% block content %}

<div id="ChangePassword">
  <div class="row top-buffer">
    <!-- Alignment -->
    <div class="col-sm-offset-3 col-sm-5">

      <!-- Form itself -->
      <form method="POST" action="" class="well">
        {% csrf_token %}
        <legend>Password Change</legend>

        {% if form.errors %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <ul>
            {% for error in form.errors.values %}
                <li>{{ error|striptags }}</li>
            {% endfor %}
          </ul>

        </div>
        {% endif %}

        <div class="form-group">
            <div class="controls">
                <input type="password" class="form-control" placeholder="old Password"
                       name="old_password" required />
            </div>
        </div>

        
        <!-- Password1 -->
        <div class="form-group">
          <div class="controls">
            <input type="password" class="form-control" placeholder="New Password"
                   name="new_password1" required />
          </div>
        </div>

        <!-- Password2 -->
        <div class="form-group">
          <div class="controls">
            <input type="password" class="form-control" placeholder="New Password (again)"
                   name="new_password2" required />
          </div>
        </div>

        <div class="row">
          <button type="submit" class="btn btn-primary pull-right">Done</button><br /></p>
        </div>

      </form>
    </div>
  </div>
</div>




{% endblock %}
