{% extends "pjtk2/pjtk2_base.html" %}

{% block extrahead  %}

<script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>    

<script src="{{ STATIC_URL }}js/jquery-1.10.2.min.js"></script>
<!-- bootstrap widget theme -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/theme.bootstrap.css">
<!-- tablesorter plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
<!-- tablesorter widget file - loaded after the plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"></script>




{% endblock %}

{% block title  %} {{ block.super }}| Approve Projects  {% endblock %}

{% block content  %}

<div class="container" >

  <h2> Approve Projects</h2>
  <hr />


  <ul class="nav nav-tabs" id="myTab" >
    <li><a href="#this-year">This Year</a> </li>
    <li><a href="#last-year">Last Year</a> </li>
  </ul>

  <div id="content" class="tab-content" >
    <div id="this-year" class="tab-pane active" >

      <h2>{{ year }}</h2>

      {% if thisYearEmpty == False %}
      <form id="thisyear" method="post" action="">
	{% csrf_token %}
	{{ thisyearsformset.management_form }}
	{{ thisyearsformset.non_form_errors.as_ul }}
	<table id="myTable" class="tablesorter">
	  {% for form in thisyearsformset.forms %}
	  {% if forloop.first %}
	  <thead><tr>
	    {% for field in form.visible_fields %}
	    <th>{{ field.label|capfirst }}</th>
	    {% endfor %}
	  </tr></thead>
	  {% endif %}
	  <tr class="{% cycle row1,row2 %}">
	    {% for field in form.visible_fields %}
	    <td>
	      {# Include the hidden fields in the form #}
	      {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
	      {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
	    </td>
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</table>
	<hr />
	<input type="hidden" name="form-type" value="thisyear" />
	<input type="submit" name="ThisYear" class="btn btn-default" value="Approve Projects" />
      </form>
      {% else %}
      <p><em>There are currently no projects for {{ year }}  </em></p>
      {% endif %}

    </div>
    <div id="last-year" class="tab-pane" >

      <h2>{{ year|add:"-1" }}</h2>

      {% if lastYearEmpty == False %}
      <form id="lastyear" method="post" action="">
	{% csrf_token %}
	{{ lastyearsformset.management_form }}
	{{ lastyearsformset.non_form_errors.as_ul }}
	<table id="myTable" class="tablesorter">
	  {% for form in lastyearsformset.forms %}
	  {% if forloop.first %}
	  <thead><tr>
	    {% for field in form.visible_fields %}
	    <th>{{ field.label|capfirst }}</th>
	    {% endfor %}
	  </tr></thead>
	  {% endif %}
	  <tr class="{% cycle row1,row2 %}">
	    {% for field in form.visible_fields %}
	    <td>
	      {# Include the hidden fields in the form #}
	      {% if forloop.first %}
              {% for hidden in form.hidden_fields %}
              {{ hidden }}
              {% endfor %}
	      {% endif %}
              {{ field.errors.as_ul }}
              {{ field }}
	    </td>
	    {% endfor %}
	  </tr>
	  {% endfor %}
	</table>
	<hr />
	<input type="hidden" name="form-type" value="lastyear" />
	<input type="submit" name="LastYear" class="btn btn-default" value="Approve Projects" />
      </form>
      {% else %}
      <p><em>There are currently no projects for {{ year|add:"-1" }} </em></p>
      {% endif %}

    </div>
  </div>
</div>


<script type="text/javascript">

 $(".tablesorter").tablesorter({
   theme: 'bootstrap',
   widthFixed: true,
   showProcessing: true,
   headerTemplate: '{content} {icon}',
   widgets: ['zebra', 'uitheme', 'scroller'],
   widgetOptions: {
     scroller_height: 300,
     scroller_barWidth: 17,
     scroller_jumpToHeader: true,
     scroller_idPrefix: 's_'
   }
 });

</script>

<script type="text/javascript">
 $('#myTab a').click(function (e) {
   e.preventDefault()
   $(this).tab('show')
 })
</script>






{% endblock %}
