{% extends "pjtk2/pjtk2_base.html" %}

{% load pjtk2_tags %}

{% block content %}

<div class="container" >

  <div class="row" >
    <div class="col-md-5" >
      <h2>{{ project.prj_nm  }}</h2>
      <br />
      <table cellspacing="0" class="table">
        <tr>
          <td><strong>Project Code:</strong></td>
          <td>{{ project.prj_cd }}</td>
        </tr>

        <tr>
          <td><strong>Project Lead:</strong></td>
          <td><a href="#">{{ project.prj_ldr.first_name }} {{ project.prj_ldr.last_name }}</a></td>
        </tr>

        <tr>
          <td><strong>Project Start:</strong></td>
          <td> {{ project.prj_date0|date:"M d, Y" }}</td>
        </tr>

        <tr>
          <td><strong>Project End:</strong></td>
          <td> {{ project.prj_date1 }}</td>
        </tr>

        <tr>
          <td><strong>Project Type:</strong></td>
          <td> {{ project.project_type }}</td>
        </tr>

        <tr>
          <td><strong>Master Database:</strong></td>
          <td>          <a href="#">{{ project.master_database.master_database }}</a> </td>
        </tr>
      </table>

      <p><strong>Project Description:</strong></p>

      <div class="panel panel-default" >
        <div class="panel-body" >
          {% if project.comment %}
          <p>{{ project.comment|linebreaks  }} </p>
          {% else %}
          <p><em>Sorry. No project description has been provided. </em>   </p>
          {% endif %}
        </div>
      </div>

      <p><strong>keywords:</strong></p>
      <div class="panel panel-default" >
        <div class="panel-body" >
          {% if project.tags.all %}
          {% for tag in project.tags.all %}
          <a href="{% url 'TaggedProjects' tag.name %}">{{ tag.name }}</a> ,
          {% endfor %}
          {% else %}
          <p><em>No keywords have have been associated with this project. </em>   </p>
          {% endif%}
        </div>
      </div>
    </div>
    <div class="col-md-7" >
      <img src="{{ STATIC_URL }}LakeHuron.png" style="width: 600px;" />
      <br />
    </div>
  </div>
  <br />
  <div class="row" >
    <div class="well" >
      <form>
        <fieldset>
          <legend> Milestones:</legend>

          {% for milestone in milestones %}
          <input type="checkbox" disabled="disabled"
                 {% if milestone.completed  %} checked="checked" {% endif %}> {{ milestone.milestone.label }}
          {% endfor %}

        </fieldset>
      </form>
    </div>
  </div>

  <div class="row" >
    <div class="btn-group" >

      {% if edit %}
      <a href="{% url 'EditProject' project.slug %}"
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn bnt-default">Edit Information</button> </a>

      {% if project.is_approved %}
      <a href="{% url 'SisterProjects' project.slug %}">
        <button type="button" class="btn bnt-default">Sister Projects</button> </a>
      {% else %}
      <a href="#"
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn bnt-default">Sister Projects</button> </a>
      {% endif %}

      {% endif  %}
      <a href="{% url 'CopyProject' project.slug %}"
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn bnt-default">Copy Project</button> </a>
      {% if_bookmarked user project %}
      <a href="{% url 'Unbookmark_Project' project.slug %}" onclick="javascript:window.location=this.href">
        <button type="button" class="btn bnt-default">Remove Bookmark</button> </a>
      {% else %}
      <a href="{% url 'Bookmark_Project' project.slug %}" onclick="javascript:window.location=this.href">
        <button type="button" class="btn bnt-default">Bookmark Project</button> </a>
      {% endif_bookmarked %}

    </div>
  </div>

  <hr />

  <h3>Reporting Requirements:</h3>
  <br />
  <h4>Core Reporting Requirements:</h4>

  {% if Core %}
  <table class="table table-striped">
    {% for report in Core  %}
    <tr>
      <td> <input type="checkbox" disabled="disabled"
                  {% if report.required %} checked="checked" {% endif %}>
        {{ report.milestone }}
      </td>

      {% if report.filepath %}
      <td><a href="{% url 'serve_file' report.filepath %}">{{ report.filepath }}</a></td>
      {% else %}
      {% if report.required %}
      <td><div class="na"><em> Report not available yet. </em></div><td>
        {% else %}
        <td><div class="na"><em> Not requested. </em></div></td>
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p><em>No reporting requirements associated with this project. </em></p>
  {% endif %}


  <h4>Associated Files:</h4>
  <em>This feature has not been implemented yet. </em>
  <br />
  <br />


  <h4>Additional Reporting Requirements:</h4>
  {% if Custom %}
  <table class="table table-striped">
    {% for report in Custom  %}
    <tr>
      <td> <input type="checkbox" disabled="disabled"
                  {% if report.required %} checked="checked" {% endif %}>
        {{ report.milestone }}
      </td>

      {% if report.filepath %}
      <td><a href="{% url 'serve_file' report.filepath %}">{{ report.filepath }}</a></td>
      {% else %}
      {% if report.required %}
      <td><div class="na"><em> Report not available yet. </em></div><td>
        {% else %}
        <td><div class="na"><em> Not requested. </em></div></td>
        {% endif %}
        {% endif %}
    </tr>
    {% endfor %}
  </table class="table table-striped">
  {% else %}
  <p><em>No additonal reporting requirements associated with this project. </em></p>
  {% endif %}

  <br />
  <br />
  {% if edit %}
  <a href="{% url 'ReportUpload' project.slug %}" onclick="javascript:window.location=this.href">
    <button type="button" class="btn bnt-default">Upload Reports</button> </a>
  {% endif %}

  {% if manager %}
  <a href="{% url 'Reports' project.slug %}"
     onclick="javascript:window.location=this.href">
    <button type="button" class="btn bnt-default">Change Reporting Requirements</button> </a>
  {% endif %}

</div>

{% endblock %}
