{% extends "pjtk2/pjtk2_base.html" %}
{% load crispy_forms_tags %}

{% block extrahead %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.3.custom.css"/>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.js"></script>

<script>
 $(document).ready(function() {
   $('.dateinput').datepicker({ format: "yyyy/mm/dd" });
 });
</script>

<script>
var v_obj = document.getElementByName('milestones')
v_obj.setAttribute('style', 'color:red;')
</script>

<style type="text/css">
 #id_prj_cd{width:200px;}
 .textinput{width:400px;}
 .textarea{width:400px;}
 .tagwidget{width:400px;}
 .select{width:200px;}
 .dateinput{width:200px;}

</style>

{% endblock %}

{% block title  %} {{ block.super }}| {{ action  }} Project  {% endblock %}

{% block content  %}

<div class="container" >
  <h1>{{ action  }} Project</h1>
  {% crispy form form.helper 'bootstrap'  %}
</div>

{% endblock %}
