{% extends "pjtk2/pjtk2_base.html" %}

{% load crispy_forms_tags %}

{% block extrahead %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/smoothness/jquery-ui-1.10.3.custom.css"/>
<script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.js"></script>
<script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
{% endblock %}

{% block content %}

<div class="container" >

  <h2> Update Reporting Requirements</h2>
  <hr />

  <h4> {{ project.prj_nm }} ({{ project.prj_cd }})</h4>
  <br />

  <form method="POST" id="reports" action="">
    {% csrf_token %}

    <div class="row" >
      <div class="col-md-4" >
	<div class="panel panel-default">
	  <div class="panel-heading">Project Milestones:</div>
	  <div class="panel-body">
	    <div class="col-md-offset-1 ">
	      {{  Milestones|crispy }}
	    </div>
	  </div>
	</div>
      </div>

      <div class="row" >
	<div class="col-md-4" >
	  <div class="panel panel-default">
	    <div class="panel-heading">Core Reporting Requirements:</div>
	    <div class="panel-body">
	      <div class="col-md-offset-1 ">
		{{ Core|crispy }}
	      </div>
	    </div>
	  </div>
	</div>

	<div class="row" >
	  <div class="col-md-4" >
	    <div class="panel panel-default">
	      <div class="panel-heading">Additional Reporting Requirements:</div>
	      <div class="panel-body">
		<div class="col-md-offset-1 ">
		  {{ Custom|crispy }}
		</div>
	      </div>
	    </div>
	  </div>
	</div>

	<hr />

	<div class="row" >
	  <div class="col-md-offset-1 ">
	    <input type="submit" name="Save" value="Save Changes" class="btn btn-default"/>
	    <button class="btn btn-default" data-toggle="modal" data-target="#modalMilestone">
	      New Milestone
	    </button>
	    <button class="btn btn-default" data-toggle="modal" data-target="#modalReport">
	      New Report
	    </button>
	  </div>
	</div>
  </form>

  <div class="modal fade" id="modalMilestone">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New Milestone</h4>
	</div>
	<div class="modal-body">
	  <form class="form-horizontal" role="form" method="POST" id="dialog2" name="dialog2" action="">
	    {% csrf_token  %}

	    <div class="row" >
	      <div class="col-md-10" >
		<input type="text" name="new_milestone" class="form-control"/>
	      </div>
	      <div class="col-md-2" >
		<input type="submit"  value="Submit" name="Submit" class="btn btn-default"/>
	      </div>
	    </div>

	  </form>
	</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

  <div class="modal fade" id="modalReport">
    <div class="modal-dialog">
      <div class="modal-content">
	<div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">New Report</h4>
	</div>
	<div class="modal-body">

	  <form method="POST" id="dialog" action="">
	    {% csrf_token  %}

	    <div class="row" >
	      <div class="col-md-10" >
		<input type="text" name="new_report" class="form-control"/>
	      </div>
	      <div class="col-md-2" >
		<input type="submit"  value="Submit" name="Submit" class="btn btn-default"/>
	      </div>
	    </div>

	  </form>

	</div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

</div>
{% endblock %}
