
<script type="text/javascript">
 {% load geojson_tags %}


 $(document).ready(function(){

     // a little hellper function that will associate popup text with each point.
     function onEachFeature(feature, layer) {
         if (feature.properties && feature.properties.popup_text) {
             layer.bindPopup(feature.properties.popup_text);
         }
     };


     // we will initialize the map over lake huron - this could be customized at some point in the future.
     var lat = 45
     var lon = -82
     var zoom = 7

     var  my_map = new L.map('main_map').setView([lat,lon], zoom);

     // region of interest - could be an arbirary section or pre-defined polygon
     var roi = {{ roi|geojsonfeature|safe }}


         // add the OpenStreetMap tiles
         L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
             attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
         }).addTo(my_map);
     
     
     if (roi){
         var roi_layer = L.geoJson(roi);
         roi_layer.addTo(my_map);
         my_map.fitBounds(roi_layer.getBounds());
     }

     var contained = {{ contained|geojsonfeature:"popup_text"|safe }};

     var contained_points = L.geoJson(pts, {
         style: {fillColor: "#ff7800",
                 color: "#000"},
         pointToLayer: function(feature, latlng) {
             return new L.CircleMarker(latlng, {radius: 5, fillOpacity: 0.75});
         },
         onEachFeature: onEachFeature})
     contained_points.addTo(my_map);

     var overlapping = {{ overlapping|geojsonfeature:"popup_text"|safe }};
     var overlapping_points = L.geoJson(pts, {
         style: {color: "#FF3399", fillColor:"#FF99CC"},
         pointToLayer: function(feature, latlng) {
             return new L.CircleMarker(latlng, {radius: 5, fillOpacity: 0.75});
         },
         onEachFeature: onEachFeature})

     overlapping_points.addTo(my_map);



 });

</script>
