{% load pjtk2_tags %}

<table id="{{ what }}-table" class="table rotate-table-grid tablesorter ">
    <thead class="rotated-header">
        <tr>
            <th>Year</th>
            <th>Project Code</th>
            <th>Project Type</th>
            <th>Project Name</th>
            {% if boss %}
            <th>Project Lead</th>
            {% endif %}

            {% for report in core_reports %}
            <th class="rotate" style="vertical-align: bottom" ><div><span class="rotate" >{{ report.label_abbrev }}</span></div></th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr class="{% cycle row1 row2 %}">
            <td> {{ project.year }} </td>
            <td>
                <a href="{{ project.get_absolute_url }}"> {{ project.prj_cd }}</a>
            </td>
            <td> {{ project.project_type }} </td>
            <td>
                {{ project.prj_nm  }}
            </td>
            {% if boss %}
            <td>
                <a href="{% url 'EmployeeProjects' project.prj_ldr.username %}">
                    {{ project.prj_ldr.first_name }} {{ project.prj_ldr.last_name }}</a> </td>
            {% endif %}

            {{ project | milestone_status:core_reports }}

        </tr>
        {% endfor %}
    </tbody>
</table>
