{% extends "pjtk2/pjtk2_base.html" %}

{% block extrahead  %}


<!-- bootstrap widget theme -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/theme.bootstrap.css">
<!-- tablesorter plugin -->



{% endblock %}

{% block title  %} {{ block.super }}| Approve Projects  {% endblock %}

{% block content  %}

<div class="container" >

  <h2> Approve Projects</h2>
  <hr />


  {% if form.errors %}
  {% for field in form %}
  {% for error in field.errors %}
  <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endfor %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger">
      <strong>{{ error|escape }}</strong>
  </div>
  {% endfor %}
  {% endif %}


{% for dict in formset.errors %}
    {% for error in dict.values %}
        {{ error }}
    {% endfor %}
{% endfor %}

{{ thisyearformset.non_form_errors }}
{% for dict in thisyearsformset.errors %}
    {% for error in dict.values %}
        {{ error }}
    {% endfor %}
{% endfor %}

{{ lastyearformset.non_form_errors }}
{% for dict in lastyearsformset.errors %}
    {% for error in dict.values %}
        {{ error }}
    {% endfor %}
{% endfor %}



  <ul class="nav nav-tabs" id="myTab" >
    <li><a href="#this-year">This Year</a> </li>
    <li><a href="#last-year">Last Year</a> </li>
  </ul>

  <div id="content" class="tab-content" >
    <div id="this-year" class="tab-pane active" >
      <h2>{{ year }}</h2>
      {% if thisYearEmpty == False %}
      <form id="thisyear" method="post" action="">
        {% csrf_token %}
        {{ thisyearsformset.management_form }}
        {{ thisyearsformset.non_form_errors.as_ul }}
          <table id="myTable1" class="table tablesorter">
              {% for form in thisyearsformset.forms %}
                  {% if forloop.first %}
                      <thead><tr>
                          {% for field in form.visible_fields %}
                              <th>{{ field.label|capfirst }}</th>
                          {% endfor %}
                      </tr></thead>
                  {% endif %}
                  <tr class="{% cycle row1 row2 %}">
                      {% for field in form.visible_fields %}
                          <td>
                              {# Include the hidden fields in the form #}
                              {% if forloop.first %}
                                  {% for hidden in form.hidden_fields %}
                                      {{ hidden }}
                                  {% endfor %}
                              {% endif %}
                              {{ field.errors.as_ul }}
                              {{ field }}
                          </td>
                      {% endfor %}
                  </tr>
              {% endfor %}
          </table>
          <hr />
          <input type="hidden" name="form-type" value="thisyear" />
          <input type="submit" name="ThisYear" class="btn btn-default" value="Approve Projects" />
      </form>
      {% else %}
      <p><em>There are currently no projects for {{ year }}  </em></p>
      {% endif %}
    </div>
    <div id="last-year" class="tab-pane" >

        <h2>{{ year|add:"-1" }}</h2>

        {% if lastYearEmpty == False %}
            <form id="lastyear" method="post" action="">
                {% csrf_token %}
                {{ lastyearsformset.management_form }}
                {{ lastyearsformset.non_form_errors.as_ul }}
                <table id="myTable2" class="table tablesorter">
                    {% for form in lastyearsformset.forms %}
                        {% if forloop.first %}
                            <thead><tr>
                                {% for field in form.visible_fields %}
                                    <th>{{ field.label|capfirst }}</th>
                                {% endfor %}
                            </tr></thead>
                        {% endif %}
                        <tr class="{% cycle row1 row2 %}">
                            {% for field in form.visible_fields %}
                                <td>
                                    {# Include the hidden fields in the form #}
                                    {% if forloop.first %}
                                        {% for hidden in form.hidden_fields %}
                                            {{ hidden }}
                                        {% endfor %}
                                    {% endif %}
                                    {{ field.errors.as_ul }}
                                    {{ field }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
                <hr />
                <input type="hidden" name="form-type" value="lastyear" />
                <input type="submit" name="LastYear" class="btn btn-default" value="Approve Projects" />
            </form>
        {% else %}
            <p><em>There are currently no projects for {{ year|add:"-1" }} </em></p>
        {% endif %}

    </div>
  </div>
</div>

{% endblock %}

{% block extrascripts %}




    <!-- tablesorter plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/jquery.tablesorter.js" integrity="sha256-/zMRoPUv1Wfxf3urIyUFn8m1Ot0QmGwXAFHshnwubaE=" crossorigin="anonymous"></script>

    <!-- tablesorter widget file - loaded after the plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/jquery.tablesorter.widgets.js" integrity="sha256-UIl6E2cmeTSpfPbrMkitLrbyAYUqlOz+zwC+Dc7bglI=" crossorigin="anonymous"></script>



    <script type="text/javascript">

     $(".tablesorter").tablesorter({
         theme: 'bootstrap',
         widthFixed: true,
         showProcessing: true,
         headerTemplate: '{content} {icon}',
         widgets: ['zebra', 'uitheme', 'scroller'],
         widgetOptions: {
             scroller_height: 300,
             scroller_barWidth: 17,
             scroller_jumpToHeader: true,
             scroller_idPrefix: 's_'
         }
     });

    </script>
    
    <script type="text/javascript">
     $('#myTab a').click(function (e) {
         e.preventDefault()
         $(this).tab('show')
     })
    </script>



{% endblock %}
