{% extends "pjtk2/pjtk2_base.html" %}


{% load static %}
{% load pjtk2_tags %}



{% block content %}

<div  class="container" >


    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default" >
                <div  class="panel-body" >

                    <div  class="row" >
                        <div  class="col-md-12" >
                            <h4>{{ project.name }}</h4>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-body">

                            <img class="img-responsive center-block"  src="../../../{{ image.image_path.url }}">
                        </div>
                    </div>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% if form.errors %}
                        <div class="alert alert-danger">
                            Please fix the errors in the form below.
                            {% for error in form.non_field_errors %}
                            <p class="error">{{ error }}</p>
                            {% endfor %}
                            {% for error in form.errors %}
                            <p class="error">{{ error }}</p>
                            {% endfor %}

                        </div>
                        {% endif %}

                        <div class="form-group {% if form.caption.errors %}has-error{% endif %}">
                            {{ form.caption.label_tag }}
                            {{ form.caption|addcss:"form-control"}}
                            {% if form.caption.errors %}
                            {% for error in form.caption.errors %}
                            <div class="has-error help-block text-danger">{{ error }}</div>
                            {% endfor %}
                            {% endif %}
                        </div>


                        <div class="form-group {% if form.report.errors %}has-error{% endif %}">
                            {{ form.report.label_tag }}
                            {{ form.report }}
                            {% if form.report.errors %}
                            {% for error in form.report.errors %}
                            <div class="has-error help-block text-danger">{{ error }}</div>
                            {% endfor %}
                            {% endif %}
                        </div>


                        <hr />
                        <div  class="row" >
                            <div  class="col-md-2" >
                                <a href="{{ project.get_absolute_url }}">Cancel</a>
                            </div>
                            <div  class="col-md-5 col-md-offset-5" >
                                <input class="btn btn-primary float-right" type="submit"
                                       name="save" value="Save">
                                <a href="{% url 'delete_image_file' image.id %}" class="btn btn-danger float-right">Delete Image</a>
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
v
