{% extends "pjtk2/pjtk2_base.html" %}

{% block extrahead  %}


<!-- bootstrap widget theme -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.css" />


<style type="text/css" media="screen">

 table.tablesorter {
     background: #FFF;
 }


 table.rotate-table-grid{
     box-sizing: border-box;
     border-collapse: collapse;
 }

 .rotate-table-grid tr, .rotate-table-grid td, .rotate-table-grid th {
     border: 1px solid #ddd;
     position: relative;
     padding: 10px;
     bottom: 0;
 }

 .rotate-table-grid th span {
     transform-origin: 0 50%;
     transform: rotate(-90deg);
     white-space: nowrap;
     display: block;
     position: absolute;
     bottom: 0;
     left: 50%;

 }

 .icon-red {
     color: red;
 }
 .icon-green {
     color: #57D900;
 }

 .icon-grey {
     color: grey;
 }


 .tablesorter-headerRow{
     height: 150px;
 }


</style>


{% endblock %}

{% block title  %} {{ block.super }}| {{ label }}'s Projects {% endblock %}

{% block content  %}
{% load pjtk2_tags %}

<div class="container" >


    <div  class="row" >
        <div  class="col-md-10" >
            <h3> {{ label }} Projects</h3>
            <br />
        </div>
        <div  class="col-md-1" >
            <div class="checkbox pull-right"> <label>
                <input type='checkbox' checked
                       onclick='toggleReports(this);'>Reports
            </label> </div>

        </div>
        <div  class="col-md-1" >
            <div class="checkbox pull-right"> <label>
                <input type='checkbox' checked
                       onclick='toggleMilestones(this);'>Milestones
            </label> </div>
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" >
        <li><a href="#submitted">Submitted</a></li>
        <li><a href="#approved">Approved</a></li>
        <li><a href="#cancelled">Cancelled</a></li>
        <li><a href="#completed">Completed</a></li>
    </ul>

    <div id="content" class="tab-content" >

        <div id="submitted" class="tab-pane" >

            <h3>Submitted Projects  (N={{ submitted.count }})</h3>
            {% if submitted %}

            {% with projects=submitted what="submitted" %}
            {% include "pjtk2/_milestone_table.html" %}
            {% endwith %}

            {% else %}
            <p><em>You do not currently have any submitted projects </em></p>
            {% endif%}

        </div> <!-- submitted -->

        <div id="approved" class="tab-pane active" >
            <h3>Approved Projects (N={{ approved.count }})</h3>
            {% if approved %}

            {% with projects=approved what="approved" %}
            {% include "pjtk2/_milestone_table.html" %}
            {% endwith %}

            {% else %}
            <p><em>You do not currently have any approved projects </em></p>
            {% endif %}
        </div> <!-- approved -->


        <div id="cancelled" class="tab-pane" >
            <h3>Cancelled Projects (N={{ cancelled.count }})</h3>
            {% if cancelled %}

            {% with projects=cancelled what="cancelled" %}
            {% include "pjtk2/_milestone_table.html" %}
            {% endwith %}

            {% else %}
            <p><em>You do not currently have any cancelled projects </em></p>
            {% endif %}
        </div> <!-- cancelled -->


        <div id="completed" class="tab-pane" >
            <h3>Completed Projects (N={{ complete.count }})</h3>
            {% if complete %}

            {% with projects=complete what="complete" %}
            {% include "pjtk2/_milestone_table.html" %}
            {% endwith %}

            {% else %}
            <p><em>You do not have any complete projects </em></p>
            {% endif%}
        </div> <!-- completed -->

    </div> <!-- content -->
</div>  <!-- container -->


{% endblock %}

{% block extrascripts %}


<!-- tablesorter plugin -->
<script src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.js"></script>
<!-- tablesorter widget file - loaded after the plugin -->
<script src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.widgets.js"></script>


<script type="text/javascript">

 $(document).ready(function() {
     $('#check-all').on('click', function(){
         $("input:checkbox").attr('checked', true);
     });
     $('#uncheck-all').on('click', function(){
         $("input:checkbox").attr('checked', false);
     });
     $('#bookmarks-header').height('15px');

     $('.report').show();
     $('.milestone').show();

});



 $(".tablesorter").tablesorter({
   theme: 'bootstrap',
   widthFixed: true,
   showProcessing: true,
   headerTemplate: '{content} {icon}',
   cssHeaderRow: 'vertical-align: bottom',
   widgets: ['zebra', 'uitheme', 'scroller', 'stickyHeaders'],
   widgetOptions: {
     scroller_height: 300,
     scroller_barWidth: 17,
     scroller_jumpToHeader: true,
     scroller_idPrefix: 's_',

         stickyHeaders : '',
         // number or jquery selector targeting the position:fixed element
         stickyHeaders_offset : 0,
         // added to table ID, if it exists
         stickyHeaders_cloneId : '-sticky',
         // trigger "resize" event on headers
         stickyHeaders_addResizeEvent : true,
         // if false and a caption exist, it won't be included in the sticky header
         stickyHeaders_includeCaption : true,
         // The zIndex of the stickyHeaders, allows the user to adjust this to their needs
         stickyHeaders_zIndex : 2,
         // jQuery selector or object to attach sticky header to
         stickyHeaders_attachTo : null,
         // jQuery selector or object to monitor horizontal scroll position (defaults: xScroll > attachTo > window)
         stickyHeaders_xScroll : null,
         // jQuery selector or object to monitor vertical scroll position (defaults: yScroll > attachTo > window)
         stickyHeaders_yScroll : null,

         // scroll table top into view after filtering
         stickyHeaders_filteredToTop: true


   }
 });


 function toggleReports(cb) {
     $('.report').toggle();
 }

 function toggleMilestones(cb) {
     $('.milestone').toggle();
 }


 $('#myTab a').click(function (e) {
   e.preventDefault()
   $(this).tab('show')
 })
</script>




{% endblock %}
