{% extends "pjtk2/pjtk2_base.html" %}

{% block extrahead  %}

<!-- bootstrap widget theme -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/theme.bootstrap.css">
<!-- tablesorter plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
<!-- tablesorter widget file - loaded after the plugin -->
<script src="{{ STATIC_URL }}js/jquery.tablesorter.widgets.js"></script>


<script type="text/javascript">


 (function ($) {
   $.fn.rotateTableCellContent = function (options) {
     /*
     from http://jsfiddle.net/9pUu4/
     see: http://stackoverflow.com/questions/716970/

     Version 1.0
     7/2011
     Written by David Votrubec (davidjs.com) and
     Michal Tehnik (@Mictech) for ST-Software.com
      */

     var cssClass = ((options) ? options.className : false) || "vertical";

     var cellsToRotate = $('.' + cssClass, this);

     var betterCells = [];
     cellsToRotate.each(function () {
       var cell = $(this)
       , newText = cell.text()
       , height = cell.height()
       , width = cell.width()
       , newDiv = $('<div>', { height: width, width: height })
       , newInnerDiv = $('<div>', { text: newText, 'class': 'rotated' });

       newInnerDiv.css('-webkit-transform-origin', (width / 2) + 'px ' + (width / 2) + 'px');
       newInnerDiv.css('-moz-transform-origin', (width / 2) + 'px ' + (width / 2) + 'px');
       newDiv.append(newInnerDiv);

       betterCells.push(newDiv);
     });

     cellsToRotate.each(function (i) {
       $(this).html(betterCells[i]);
     });
   };
 })(jQuery);


 $(document).ready(function(){
      $('.rotated-header').rotateTableCellContent();
      $('#myTab a:first').tab('show')
 });


</script>


<style media="screen" type="text/css">

.icon-red {
    color: red;
}
.icon-green {
    color: #57D900;
}

.icon-grey {
    color: grey;
}


/* Styles for rotateTableCellContent plugin*/
table div.rotated {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  writing-mode:tb-rl;
  white-space: nowrap;

}

.tablesorter-headerRow{
   height: 150px;
}


</style>


{% endblock %}

{% block title  %} {{ block.super }}| {{ label }}'s Projects {% endblock %}

{% block content  %}
{% load pjtk2_tags %}

<div class="container" >

  <div class="row" >
    <div class="col-md-10">
      <h3> {{ label }} Projects</h3>
    </div>
    <div class="col-md-2">
      <br />
      <button type="button" class="btn btn-success" disabled="disabled">Download xls</button>
    </div>
  </div>
  <br />

  <ul class="nav nav-tabs" id="myTab" >
    <li><a href="#submitted">Submitted</a></li>
    <li><a href="#approved">Approved</a></li>
    <li><a href="#cancelled">Cancelled</a></li>
    <li><a href="#completed">Completed</a></li>
  </ul>

  <div id="content" class="tab-content" >

    <div id="submitted" class="tab-pane" >

      <h3>Submitted Projects</h3>
      {% if submitted %}
      <table id="myTable" class="table tablesorter rotated-header">
        <thead class="rotated-header">
          <tr>
            <th>Year</th>
            <th>Project Code</th>
            <th>Project Name</th>
            <th>Project Type</th>
            {% for report in core_reports %}
            <th class="vertical"><div><span>{{ report.label_abbrev }}</span></div></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for project in submitted %}
          <tr class="{% cycle row1 row2 %}">
            <td> {{ project.year }} </td>
            <td>
              <a href="{{ project.get_absolute_url }}"> {{ project.prj_cd }}</a>
            </td>
            <td> {{ project.project_type }} </td>
            <td>
              {{ project.prj_nm  }}
            </td>
            {{ project | milestone_status:core_reports }}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p><em>You do not currently have any submitted projects </em></p>
      {% endif%}

    </div> <!-- submitted -->

    <div id="approved" class="tab-pane" >
      <h3>Approved Projects</h3>
      {% if approved %}

      <table id="myTable" class="table tablesorter rotated-header">
        <thead class="rotated-header">
          <tr>
            <th>Year</th>
            <th>Project Code</th>
            <th>Project Name</th>
            <th>Project Type</th>
            {% for report in core_reports %}
            <th class="vertical"><div><span>{{ report.label_abbrev }}</span></div></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for project in approved %}
          <tr class="{% cycle row1 row2 %}">
            <td> {{ project.year }} </td>
            <td>
              <a href="{{ project.get_absolute_url }}"> {{ project.prj_cd }}</a>
            </td>
            <td> {{ project.project_type }} </td>
            <td>
              {{ project.prj_nm  }}
            </td>
            {{ project | milestone_status:core_reports }}

          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p><em>You do not currently have any approved projects </em></p>
      {% endif %}
    </div> <!-- approved -->


    <div id="cancelled" class="tab-pane" >
      <h3>Cancelled Projects</h3>
      {% if cancelled %}

      <table id="myTable" class="table tablesorter rotated-header">
        <thead class="rotated-header">
          <tr>
            <th>Year</th>
            <th>Project Code</th>
            <th>Project Name</th>
            <th>Project Type</th>
            {% for report in core_reports %}
            <th class="vertical"><div><span>{{ report.label_abbrev }}</span></div></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for project in cancelled %}
          <tr class="{% cycle row1 row2 %}">
            <td> {{ project.year }} </td>
            <td>
              <a href="{{ project.get_absolute_url }}"> {{ project.prj_cd }}</a>
            </td>
            <td> {{ project.project_type }} </td>
            <td>
              {{ project.prj_nm  }}
            </td>
            {{ project | milestone_status:core_reports }}

          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p><em>You do not currently have any cancelled projects </em></p>
      {% endif %}
    </div> <!-- cancelled -->


    <div id="completed" class="tab-pane" >
      <h3>Completed Projects</h3>
      {% if complete %}
      <table id="myTable" class="table tablesorter rotated-header">
        <thead class="rotated-header">
          <tr>
            <th>Year</th>
            <th>Project Code</th>
            <th>Project Name</th>
            <th>Project Type</th>
            {% for report in core_reports %}
            <th class="vertical"><div><span>{{ report.label_abbrev }}</span></div></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for project in complete %}
          <tr class="{% cycle row1 row2 %}">
            <td> {{ project.year }} </td>
            <td>
              <a href="{{ project.get_absolute_url }}"> {{ project.prj_cd }}</a>
            </td>
            <td> {{ project.project_type }} </td>
            <td>
              {{ project.prj_nm  }}
            </td>
            {{ project | milestone_status:core_reports }}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
      <p><em>You do not have any complete projects </em></p>
      {% endif%}
    </div> <!-- completed -->

  </div> <!-- content -->
</div>  <!-- container -->


<script type="text/javascript">

 $(".tablesorter").tablesorter({
   theme: 'bootstrap',
   widthFixed: true,
   showProcessing: true,
   headerTemplate: '{content} {icon}',
   widgets: ['zebra', 'uitheme', 'scroller'],
   widgetOptions: {
     scroller_height: 300,
     scroller_barWidth: 17,
     scroller_jumpToHeader: true,
     scroller_idPrefix: 's_'
   }
 });

</script>

<script type="text/javascript">
 $('#myTab a').click(function (e) {
   e.preventDefault()
   $(this).tab('show')
 })
</script>



{% endblock %}
