{% extends "pjtk2/pjtk2_base.html" %}

{% block extrahead  %}


        <!-- bootstrap widget theme -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap-theme.css" />


<style type="text/css" media="screen">

table.tablesorter {
  background: #FFF;
}

 table.rotate-table-grid{
     box-sizing: border-box;
     border-collapse: collapse;
 }

 .rotate-table-grid tr, .rotate-table-grid td, .rotate-table-grid th {
     border: 1px solid #ddd;
     position: relative;
     padding: 10px;
     bottom: 0;
 }

 .rotate-table-grid th span {
     transform-origin: 0 50%;
     transform: rotate(-90deg);
     white-space: nowrap;
     display: block;
     position: absolute;
     bottom: 0;
     left: 50%;

 }

 .icon-red {
     color: red;
 }
 .icon-green {
     color: #57D900;
 }

 .icon-grey {
     color: grey;
 }


 .tablesorter-headerRow{
     height: 150px;
 }

</style>

{% endblock %}

{% block title  %} {{ block.super }}| My Projects  {% endblock %}


{% block content  %}
{% load pjtk2_tags %}

<div class="container" >


    <div  class="row" >
        <div  class="col-md-10" >
            <h3>My Projects Page</h3>
            <br />
        </div>
        <div  class="col-md-1" >
            <div class="checkbox pull-right"> <label>
                <input type='checkbox' checked
                       onclick='toggleReports(this);'>Reports
            </label> </div>

        </div>
        <div  class="col-md-1" >
            <div class="checkbox pull-right"> <label>
                <input type='checkbox' checked
                       onclick='toggleMilestones(this);'>Milestones
            </label> </div>
        </div>
    </div>


    <ul class="nav nav-tabs" id="myTab" >
        <li><a href="#notices">Notices</a></li>
        <li><a href="#submitted">Submitted</a></li>
        <li><a href="#approved">Approved</a></li>
        <li><a href="#cancelled">Cancelled</a></li>
        <li><a href="#completed">Completed</a></li>
        <li><a href="#bookmarks">Bookmarks</a></li>
    </ul>

    <div id="content" class="tab-content" >

        <div id="notices" class="tab-pane active" >
            <h3>Notifications (N={{ notices_count }})</h3>

            {% if formset %}

            <form id="notices" method="post" action="">
                {% csrf_token %}
                {{ formset.management_form }}
                {{ formset.non_form_errors.as_ul }}
                <table id="formset" class="table table-striped form">
                    {% for form in formset.forms %}
                    {% if forloop.first %}
                    <thead>
                        <tr>
                            {% for field in form.visible_fields %}
                            <th>{{ field.label|capfirst }}</th>
                            {% endfor %}
                        </tr></thead>
                    {% endif %}
                    <tr class="{% cycle row1 row2 %}">
                        {% for field in form.visible_fields %}
                        <td>
                            {# Include the hidden fields in the form #}
                            {% if forloop.first %}
                            {% for hidden in form.hidden_fields %}
                            {{ hidden }}
                            {% endfor %}
                            {% endif %}
                            {{ field.errors.as_ul }}
                            {{ field }}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
                <hr />
                <div class="input-group-btn" >
                    <button type="button" id="check-all" class="btn btn-default">Check All</button>
                    <button type="button" id="uncheck-all" class="btn btn-default">Uncheck All</button>
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-trash"></span> Delete Read Messages</button>
                </div>
                <!--<input type="submit" name="" value="Delete Read Messages" class="btn btn-default" />
         -->
            </form>
            {% else %}
            <p><em>You do not have any unread notices. </em></p>
            {% endif %}

        </div> <!-- notices -->

        <div id="submitted" class="tab-pane" >

            <h3>Submitted Projects  (N={{ submitted.count }})</h3>
            {% if submitted %}

            {% with projects=submitted what="submitted" %}
            {% include "pjtk2/_milestone_table.html" %}
            {% endwith %}

            {% else %}
            <p><em>You do not currently have any submitted projects </em></p>
            {% endif%}

        </div> <!-- submitted -->

        <div id="approved" class="tab-pane" >
            <h3>Approved Projects (N={{ approved.count }})</h3>
            {% if approved %}

            {% with projects=approved what="approved" %}
            {% include "pjtk2/_milestone_table.html" %}
            {% endwith %}

            {% else %}
            <p><em>You do not currently have any approved projects </em></p>
            {% endif %}
        </div> <!-- approved -->


        <div id="cancelled" class="tab-pane" >
            <h3>Cancelled Projects (N={{ cancelled.count }})</h3>
            {% if cancelled %}

            {% with projects=cancelled what="cancelled" %}
            {% include "pjtk2/_milestone_table.html" %}
            {% endwith %}

            {% else %}
            <p><em>You do not currently have any cancelled projects </em></p>
            {% endif %}
        </div> <!-- cancelled -->


        <div id="completed" class="tab-pane" >
            <h3>Completed Projects (N={{ complete.count }})</h3>
            {% if complete %}

            {% with projects=complete what="complete" %}
            {% include "pjtk2/_milestone_table.html" %}
            {% endwith %}

            {% else %}
            <p><em>You do not have any complete projects </em></p>
            {% endif%}
        </div> <!-- completed -->

        <div id="bookmarks" class="tab-pane" >
            <h3>Bookmarks (N={{ bookmarks.count }})</h3>
            {% if bookmarks %}
            <table id="bookmarks-table" class="table tablesorter rotated-header">
                <thead id="bookmarks-header" style="height: 15px;">
                    <tr>
                        <th>Year</th>
                        <th>Project Code</th>
                        <th>Project Type</th>
                        <th>Project Name</th>
                        {% if boss %}
                        <th>Project Lead</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for bookmark in bookmarks %}
                    <tr class="{% cycle row1 row2 %}">
                        <td>
                            {{ bookmark.year }}
                        </td>
                        <td>
                            <a href="{{ bookmark.get_project_url }}">{{ bookmark.get_project_code }}</a>
                        </td>
                        <td> {{ bookmark.project_type }} </td>
                        <td>
                            {{ bookmark.name }}
                        </td>
                        {% if boss %}
                        <td>  {{ bookmark.prj_ldr.first_name }} {{ bookmark.prj_ldr.last_name }}</td>
                        {% endif %}

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p><em>You do not have any bookmarked projects </em></p>
            {% endif%}

        </div> <!-- bookmarks -->


    </div> <!-- content -->
</div>  <!-- container -->


{% endblock %}


        {% block extrascripts  %}

<!-- tablesorter plugin -->
<script src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.js"></script>
<!-- tablesorter widget file - loaded after the plugin -->
<script src="https://mottie.github.io/tablesorter/js/jquery.tablesorter.widgets.js"></script>


<script type="text/javascript">

 $(document).ready(function() {
     $('#check-all').on('click', function(){
         $("input:checkbox").attr('checked', true);
     });
     $('#uncheck-all').on('click', function(){
         $("input:checkbox").attr('checked', false);
     });
     $('#bookmarks-header').height('15px');

     $('.report').show();
     $('.milestone').show();

});



 $(".tablesorter").tablesorter({
   theme: 'bootstrap',
   widthFixed: true,
   showProcessing: true,
   headerTemplate: '{content} {icon}',
   cssHeaderRow: 'vertical-align: bottom',
   widgets: ['zebra', 'uitheme', 'scroller', 'stickyHeaders'],
   widgetOptions: {
     scroller_height: 300,
     scroller_barWidth: 17,
     scroller_jumpToHeader: true,
     scroller_idPrefix: 's_',

         stickyHeaders : '',
         // number or jquery selector targeting the position:fixed element
         stickyHeaders_offset : 0,
         // added to table ID, if it exists
         stickyHeaders_cloneId : '-sticky',
         // trigger "resize" event on headers
         stickyHeaders_addResizeEvent : true,
         // if false and a caption exist, it won't be included in the sticky header
         stickyHeaders_includeCaption : true,
         // The zIndex of the stickyHeaders, allows the user to adjust this to their needs
         stickyHeaders_zIndex : 2,
         // jQuery selector or object to attach sticky header to
         stickyHeaders_attachTo : null,
         // jQuery selector or object to monitor horizontal scroll position (defaults: xScroll > attachTo > window)
         stickyHeaders_xScroll : null,
         // jQuery selector or object to monitor vertical scroll position (defaults: yScroll > attachTo > window)
         stickyHeaders_yScroll : null,

         // scroll table top into view after filtering
         stickyHeaders_filteredToTop: true


   }
 });


 function toggleReports(cb) {
     $('.report').toggle();
 }

 function toggleMilestones(cb) {
     $('.milestone').toggle();
 }


 $('#myTab a').click(function (e) {
   e.preventDefault()
   $(this).tab('show')
 })
</script>

{% endblock %}
