{% extends "pjtk2/pjtk2_base.html" %}
{% load crispy_forms_tags %}
{% load pjtk2_tags %}
{% block extrahead  %}

<!-- bootstrap widget theme -->
<link rel="stylesheet" href="{{ STATIC_URL }}css/theme.bootstrap.css">

{% endblock %}

{% block title  %} {{ block.super }}| Projects  {% endblock %}


{% block content  %}



<div class="container" >
  <h1>{% if approved %} Approved and Ongoing {% endif %} Projects {% if year %}{{
  year }}{% endif %}{% if tag %}tagged with '{{ tag }}'{% endif %}
  {% if prj_ldr %} associated with {{ prj_ldr.first_name }} {{ prj_ldr.last_name }}: {% endif %}</h1>

<p>N = {{ project_count }}</p>

  {% if object_list %}

  <table cellspacing="0" class="tablesorter">
    <thead>
      <tr>
        <th>Year</th>
        <th>Project Code</th>
        <th>Project Name</th>
        <th>Project Lead</th>
        <th>Project Type</th>
        <th>Status</th>
      </tr>
    </thead>
    {% for project in object_list %}
    <tr>
      <td> {{ project.year }} </td>
      <td>
        <a href="{{ project.get_absolute_url }}"> {{ project.prj_cd }}</a>
      </td>
      <td>
        {{ project.prj_nm  }}
      </td>
          <td><a href="{% url 'user_project_list' project.prj_ldr.username %}">
              {{ project.prj_ldr.first_name}} {{ project.prj_ldr.last_name }}</a></td>
      <td> {{ project.project_type }} </td>
      <td style="color:{{ project.status|highlight_status  }}">
        {{ project.status  }}
      </td>
    </tr>
    {% endfor %}
  </table>


{% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}



  {% if manager %}
        <a href="{% url 'ApproveProjects'  %}">
        <button type="button" class="btn bnt-default">Update this list</button> </a>
  {% endif %}

  {% else %}
  <br />
  <h4>Sorry no projects available.</h4>
  {% endif %}



</div>

{% endblock %}


{% block extrascripts  %}


<!-- tablesorter plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/jquery.tablesorter.js" integrity="sha256-/zMRoPUv1Wfxf3urIyUFn8m1Ot0QmGwXAFHshnwubaE=" crossorigin="anonymous"></script>

<!-- tablesorter widget file - loaded after the plugin -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.30.6/js/jquery.tablesorter.widgets.js" integrity="sha256-UIl6E2cmeTSpfPbrMkitLrbyAYUqlOz+zwC+Dc7bglI=" crossorigin="anonymous"></script>



<script type="text/javascript">

 $(".tablesorter").tablesorter({
     theme: 'bootstrap',
     widthFixed: true,
     showProcessing: true,
     headerTemplate: '{content} {icon}',
     widgets: ['zebra', 'uitheme', 'scroller'],
     widgetOptions: {
         scroller_height: 300,
         scroller_barWidth: 17,
         scroller_jumpToHeader: true,
         scroller_idPrefix: 's_'
     }
 });

</script>


<script type="text/javascript">
 <!--

 function toggle_visibility(id) {
     var e = document.getElementById(id);
     if(e.style.display == 'block')
         e.style.display = 'none';
     else
         e.style.display = 'block';
 }

 //-->
</script>



{% endblock %}
