{% extends "pjtk2/pjtk2_base.html" %}

{% load pjtk2_tags %}

{% block extrahead %}
    {{ map.media }}
{% endblock %}



{% block content %}

<div class="container" >

  <div class="row" >
    <div class="col-md-5" >
      <h2>{{ project.prj_nm  }}</h2>
      <br />
      <table cellspacing="0" class="table">
        <tr>
          <td><strong>Project Code:</strong></td>
          <td>{{ project.prj_cd }}</td>
        </tr>

        <tr>
          <td><strong>Project Lead:</strong></td>
          <td><a href="#">{{ project.prj_ldr.first_name }} {{ project.prj_ldr.last_name }}</a></td>
        </tr>

        <tr>
          <td><strong>Project Start:</strong></td>
          <td> {{ project.prj_date0|date:"M d, Y" }}</td>
        </tr>

        <tr>
          <td><strong>Project End:</strong></td>
          <td> {{ project.prj_date1 }}</td>
        </tr>

        <tr>
          <td><strong>Project Type:</strong></td>
          <td> {{ project.project_type }}</td>
        </tr>

        <tr>
          <td><strong>Master Database:</strong></td>
          <td>          <a href="#">{{ project.master_database.master_database }}</a> </td>
        </tr>
      </table>

      <p><strong>Project Description:</strong></p>

      <div class="panel panel-default" >
        <div class="panel-body" >
          {% if project.comment %}
          <p>{{ project.comment|linebreaks  }} </p>
          {% else %}
          <p><em>Sorry. No project description has been provided. </em>   </p>
          {% endif %}
        </div>
      </div>

      <p><strong>keywords:</strong></p>
      <div class="panel panel-default" >
        <div class="panel-body" >
          {% if project.tags.all %}
          {% for tag in project.tags.all %}
          <a href="{% url 'TaggedProjects' tag.name %}">{{ tag.name }}</a> ,
          {% endfor %}
          {% else %}
          <p><em>No keywords have have been associated with this project. </em>   </p>
          {% endif%}
        </div>
      </div>
    </div>
    <div class="col-md-7" >
      {% if map %}
        {{ map }}
      {% else %}
        <img src="{{ STATIC_URL }}LakeHuron.png" style="width: 600px;"/>
      {% endif %}
      <br />
    </div>
  </div>
  <br />
  <div class="row" >
    <div class="well" >
      <form>
        <fieldset>
          <legend> Milestones:</legend>

          {% for milestone in milestones %}
          <input type="checkbox" disabled="disabled"
                 {% if milestone.completed  %} checked="checked" {% endif %}> {{ milestone.milestone.label }}
          {% endfor %}

        </fieldset>
      </form>
    </div>
  </div>

  <div class="row" >
    <div class="btn-group" >

      {% if edit %}
      <a href="{% url 'EditProject' project.slug %}"
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn btn-default">Edit Information</button> </a>

      {% if project.is_approved %}
      <a href="{% url 'SisterProjects' project.slug %}">
        <button type="button" class="btn btn-default">Sister Projects</button> </a>
      {% else %}
      <a href="#"
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn btn-default" disabled="disabled">Sister Projects</button> </a>
      {% endif %}

      {% endif  %}
      <a href="{% url 'CopyProject' project.slug %}"
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn btn-default">Copy Project</button> </a>
      {% if_bookmarked user project %}
      <a href="{% url 'Unbookmark_Project' project.slug %}" 
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn btn-default">Remove Bookmark</button> </a>
      {% else %}
      <a href="{% url 'Bookmark_Project' project.slug %}" 
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn btn-default">Bookmark Project</button> </a>
      {% endif_bookmarked %}

      {% if edit %}
      <a href="{% url 'ReportUpload' project.slug %}" 
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn btn-info">Upload Reports</button> </a>
      {% endif %}


      {% if manager %}
      <a href="{% url 'Reports' project.slug %}"
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn btn-primary">Change Reporting Requirements</button> </a>
      {% if project.is_approved %}
      <a href="{% url 'unapprove_project' project.slug %}"
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn btn-primary">Unapprove</button> </a>
      {% else %}
      <a href="{% url 'approve_project' project.slug %}"
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn btn-primary">Approve</button> </a>
      {% endif %}

      {% if not project.is_complete %}
      <a href="{% url 'signoff_project' project.slug %}"
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn btn-success">Sign Off</button> </a>
      {% endif %}


      

      {% endif %}


    </div>
  </div>

  <hr />

  <h3>Reporting Requirements:</h3>
  <br />
  <h4>Core Reporting Requirements:</h4>

  <div class="panel well" >
    {% if Core %}
    <table class="table table-striped">
      {% for report in Core  %}
      <tr>
        <td> <input type="checkbox" disabled="disabled"
                    {% if report.required %} checked="checked" {% endif %}>
          {{ report.milestone }}
        </td>

        {% if report.report %}
        <td><a href="{% url 'serve_file' report.report %}">{{ report.report }}</a></td>

        {% if edit %}
        <td>
          <a href="{% url 'delete_report' slug=project.slug pk=report.report.id %}">
            <button type="button" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>  
        {% else %}
        <td>
          <button type="button" class="btn btn-default btn-sm" disabled="disabled">
            <span class="glyphicon glyphicon-remove"></span> 
          </button>
        {% endif %}

          {% else %}
          {% if report.required %}
          <td>
            <div class="na"><em> Report not available yet. </em></div>
          </td>
          {% else %}
          <td><div class="na"><em> Not requested. </em></div></td>
          {% endif %}        
          <td>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">
              <span class="glyphicon glyphicon-remove"></span> 
            </button>
          </td>
          {% endif %}
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p><em>No reporting requirements associated with this project. </em></p>
    {% endif %}
  </div> 

  <br />
  <br />

  <h4>Additional Reporting Requirements:</h4>
  <div class="panel well">
    {% if Custom %}
    <table class="table table-striped">
      {% for report in Custom  %}
      <tr>
        <td> <input type="checkbox" disabled="disabled"
                    {% if report.required %} checked="checked" {% endif %}>
          {{ report.milestone }}
        </td>
        {% if report.report %}
        <td><a href="{% url 'serve_file' report.report %}">{{ report.report }}</a></td>
        {% if edit %}
        <td>
          <a href="{% url 'delete_report' slug=project.slug pk=report.report.id %}">
            <button type="button" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>  
        {% else %}
        <td>
          <button type="button" class="btn btn-default btn-sm" disabled="disabled">
            <span class="glyphicon glyphicon-remove"></span> 
          </button>
          {% endif %}

          {% else %}
          {% if report.required %}
          <td>
            <div class="na"><em> Report not available yet. </em></div>
          </td>
          {% else %}
          <td><div class="na"><em> Not requested. </em></div></td>
          {% endif %}        
          <td>
            <button type="button" class="btn btn-default btn-sm" disabled="disabled">
              <span class="glyphicon glyphicon-remove"></span> 
            </button>
          </td>
          {% endif %}
      </tr>

      {% endfor %}
    </table>
    {% else %}
    <p><em>No additonal reporting requirements associated with this project. </em></p>
    {% endif %}
  </div>


  <hr />

  <div class="row">
    <div class="col-md-10" >
    <h4>Associated Files:</h4>
    </div>
    {% if edit %}
    <div class="col-md-2" >
      <a href="{% url 'associated_file_upload' project.slug %}"
         onclick="javascript:window.location=this.href">
        <button type="button" class="btn btn-primary">Upload Assoc. Files</button> </a>
    </div>
    {% endif %}

</div>
  <div class="panel well" >

    {% if project.get_associated_files %}
    <table class="table table-striped">
      {% for file in project.get_associated_files  %}
      <tr>
        {% if file.file_path %}
        <td><a href="{% url 'serve_file' file.file_path %}">{{ file.file_path }}</a></td>
        {% endif %}
        {% if edit %}
        <td>
          <a href="{% url 'delete_associated_file' file.id %}">
            <button type="button" class="btn btn-danger btn-sm">
              <span class="glyphicon glyphicon-remove"></span>
            </button>
          </a>
        </td>  
        {% endif %}
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p><em>No additonal reporting requirements associated with this project. </em></p>
    {% endif %}


  </div> 
  <br />

  <br />
  <br />


</div>

{% endblock %}



