{% extends "pjtk2/pjtk2_base.html" %}

{% block title  %} {{ block.super }}| About {% endblock %}

{% block content  %}


<div class="container" >

  <h1 class="title">Project Reporting Requirements</h1>

  <div id="outline-container-1" class="outline-2">
    <h2 id="sec-1"><span class="section-number-2">1</span> Project Milestones </h2>
    <div class="outline-text-2" id="text-1">

    </div>

    <div id="outline-container-1-1" class="outline-3">
      <h3 id="sec-1-1"><span class="section-number-3">1.1</span> Project Proposal </h3>
      <div class="outline-text-3" id="text-1-1">

        <p>
          (<a href="file://y:/Fisheries Management/Project Tracking/Admin/UGLMU_Project_Proposal_PROJECTNAME_PROJECTNUMBER.doc">Project Proposal Template</a>)
        </p>

      </div>

      <div id="outline-container-1-1-1" class="outline-4">
        <h4 id="sec-1-1-1"><span class="section-number-4"></span> Purpose </h4>
        <div class="outline-text-4" id="text-1-1-1">
          <ul>
            <li>What, who, when, how and why
            </li>
            <li>Basic information about estimated resource requirements
            </li>
            <li>Sufficient detail to evaluate merit of project
            </li>
            <li>Outcomes and deliverables
            </li>
            <li>Strategic directives of Unit and/or Branch
            </li>
            <li>WPP requirement
            </li>
          </ul>
        </div>
      </div>

      <div id="outline-container-1-1-2" class="outline-4">
        <h4 id="sec-1-1-2"><span class="section-number-4"></span> Operations </h4>
        <div class="outline-text-4" id="text-1-1-2">
          <p>
            Provide a listing of information that Operations will need at this
            stage to make your project successful.
          </p>
        </div>
      </div>

      <div id="outline-container-1-1-3" class="outline-4">
        <h4 id="sec-1-1-3"><span class="section-number-4"></span> Data Management </h4>
        <div class="outline-text-4" id="text-1-1-3">
          <p>
            Provide a listing of considerations associated with data management
            that will need to be given some thought at this stage to make your
            project successful.
          </p>
        </div>

      </div>

      <div id="outline-container-1-1-4" class="outline-4">
        <h4 id="sec-1-1-4"><span class="section-number-4"></span> Additional Considerations </h4>
        <div class="outline-text-4" id="text-1-1-4">
          <p>
            <img src="{{ STATIC_URL }}PrjMgtFlow.png" style="width:600px; border:2px solid blue;" align="right"/>
          </p>
        </div>
      </div>
    </div>

    <div id="outline-container-1-2" class="outline-3">
      <h3 id="sec-1-2"><span class="section-number-3">1.2</span> Project Description </h3>
      <div class="outline-text-3" id="text-1-2">
        <p>
          (<a href="file://y:/Fisheries Management/Project Tracking/Admin/UGLMU Project Description Template v2007.doc">Project Description Template</a>)
        </p>
      </div>
      <div id="outline-container-1-2-1" class="outline-4">
        <h4 id="sec-1-2-1"><span class="section-number-4"></span> Purpose </h4>
        <div class="outline-text-4" id="text-1-2-1">
          <ul>
            <li>Approved/funded projects
            </li>
            <li>More detailed information than Project Proposal
            </li>
            <li>Logistical details
            </li>
            <li>Start and end dates
            </li>
            <li>Project Lead and Project  Number
            </li>
            <li>Staffing and costs estimates
            </li>
            <li>Sampling protocol and analysis
            </li>
          </ul>
        </div>
      </div>

      <div id="outline-container-1-2-2" class="outline-4">
        <h4 id="sec-1-2-2"><span class="section-number-4"></span> Operations </h4>
        <div class="outline-text-4" id="text-1-2-2">
          <p>
            Provide a listing of information that Operations will need at this
            stage to make your project successful.
          </p>
        </div>
      </div>

      <div id="outline-container-1-2-3" class="outline-4">
        <h4 id="sec-1-2-3"><span class="section-number-4"></span> Data Management </h4>
        <div class="outline-text-4" id="text-1-2-3">
          <p>
            Provide a listing of considerations associated with data management
            that will need to be given some thought at this stage to make your
            project successful.
          </p>
        </div>
      </div>

      <div id="outline-container-1-2-4" class="outline-4">
        <h4 id="sec-1-2-4"><span class="section-number-4"></span> Additional Considerations </h4>
        <div class="outline-text-4" id="text-1-2-4">

        </div>
      </div>

    </div>

    <div id="outline-container-1-3" class="outline-3">
      <h3 id="sec-1-3"><span class="section-number-3">1.3</span> Project Proposal/Description Presentations </h3>
      <div class="outline-text-3" id="text-1-3">


        <p>
          Project leads are required to make a <b>brief</b> presentation
          outlining the scope of each proposed project.  A typical project description
          presentation does not need to be very long, 4-6 slides should be
          enough for a normal project.  The presentations should include:
        </p><ul>
          <li>Project name and project number(s)
          </li>
          <li>Study objectives - Why are we doing this?  What question(s) are we
            hoping to answer?
          </li>
          <li>Map(s) illustrating study area and access points
          </li>
          <li>Methods used - especially if they are non-standard
          </li>
          <li>Data
            <ul>
              <li>What are we going to collect? Why?
              </li>
              <li>How will it be collected in the field?
              </li>
              <li>How will it be stored? Where will it ultimately live?
              </li>
            </ul>

          </li>
          <li>Time frame - start and end dates, sampling frequency
          </li>
          <li>If this is repeat project, what, if anything will be different this year.
          </li>
          <li>Any other items that you think the rest of the staff should know.
          </li>
        </ul>


        <p>
          The intent of the project proposals and associated presentations is to:
        </p><ol>
          <li>Improve communication among staff
          </li>
          <li>Solicit input from other staff, and
          </li>
          <li>Provide an opportunity for pier-review of all our projects (at
            least to some degree).
          </li>
        </ol>


        <p>
          Here are some example proposals presentations that could be used as templates:
        </p><ul>
          <li><a href="file://y:/Fisheries Management/Project Tracking/Presentations/Smallfish 2009.ppt">Smallfish 2009</a>
          </li>
          <li><a href="file://y:/Fisheries Management/Project Tracking/Presentations/2011_SB_FLIN.ppt">2011 South Bay FLIN</a>
          </li>
          <li><a href="file://y:/Fisheries Management/Project Tracking/Presentations/MNR-OCFA_NorthChannel_Partnership_July09.ppt">North Channel Coop Proposal</a>
          </li>
          <li><a href="file://y:/Fisheries Management/Project Tracking/Presentations/Sampling_Presentation.ppt">Steelhead Sampling</a>
          </li>
        </ul>



      </div>

    </div>

    <div id="outline-container-1-4" class="outline-3">
      <h3 id="sec-1-4"><span class="section-number-3">1.4</span> Project Field Protocol </h3>
      <div class="outline-text-3" id="text-1-4">


      </div>

      <div id="outline-container-1-4-1" class="outline-4">
        <h4 id="sec-1-4-1"><span class="section-number-4"></span> Purpose </h4>
        <div class="outline-text-4" id="text-1-4-1">


          <ul>
            <li>Document(s) provided to field staff
            </li>
            <li>Often include important details that may not be captured elsewhere
              <ul>
                <li>maps
                </li>
                <li>site selection tables
                </li>
                <li>tally sheets
                </li>
              </ul>

            </li>
            <li>Important part of documentation process
            </li>
          </ul>



        </div>

      </div>

      <div id="outline-container-1-4-2" class="outline-4">
        <h4 id="sec-1-4-2"><span class="section-number-4"></span> Operations </h4>
        <div class="outline-text-4" id="text-1-4-2">


          <p>
            Provide a listing of information that Operations will need at this
            stage to make your project successful.
          </p>
        </div>

      </div>

      <div id="outline-container-1-4-3" class="outline-4">
        <h4 id="sec-1-4-3"><span class="section-number-4"></span> Data Management </h4>
        <div class="outline-text-4" id="text-1-4-3">


          <p>
            Provide a listing of considerations associated with data management
            that will need to be given some thought at this stage to make your
            project successful.
          </p>

        </div>

      </div>

      <div id="outline-container-1-4-4" class="outline-4">
        <h4 id="sec-1-4-4"><span class="section-number-4"></span> Additional Considerations </h4>
        <div class="outline-text-4" id="text-1-4-4">



        </div>
      </div>

    </div>

    <div id="outline-container-1-5" class="outline-3">
      <h3 id="sec-1-5"><span class="section-number-3">1.5</span> Project Completion Report </h3>
      <div class="outline-text-3" id="text-1-5">



      </div>

      <div id="outline-container-1-5-1" class="outline-4">
        <h4 id="sec-1-5-1"><span class="section-number-4"></span> Purpose </h4>
        <div class="outline-text-4" id="text-1-5-1">

          <ul>
            <li>Basics
            </li>
            <li>What happened
            </li>
            <li>What was collected from where
            </li>
            <li>Summary tables and maps
            </li>
            <li>What went wrong (if anything)
            </li>
            <li>What (if anything) should be done differently
            </li>
            <li>Important first data scrub
            </li>
            <li>Little or no interpretation
            </li>
            <li>Completed as soon a possible
            </li>
          </ul>


        </div>

      </div>

      <div id="outline-container-1-5-2" class="outline-4">
        <h4 id="sec-1-5-2"><span class="section-number-4"></span> Operations </h4>
        <div class="outline-text-4" id="text-1-5-2">


          <p>
            Provide a listing of information that Operations will need at this
            stage to make your project successful.
          </p>
        </div>

      </div>

      <div id="outline-container-1-5-3" class="outline-4">
        <h4 id="sec-1-5-3"><span class="section-number-4"></span> Data Management </h4>
        <div class="outline-text-4" id="text-1-5-3">


          <p>
            Provide a listing of considerations associated with data management
            that will need to be given some thought at this stage to make your
            project successful.
          </p>
        </div>

      </div>

      <div id="outline-container-1-5-4" class="outline-4">
        <h4 id="sec-1-5-4"><span class="section-number-4"></span> Additional Considerations </h4>
        <div class="outline-text-4" id="text-1-5-4">



        </div>
      </div>

    </div>

    <div id="outline-container-1-6" class="outline-3">
      <h3 id="sec-1-6"><span class="section-number-3">1.6</span> Project Completion Presentations </h3>
      <div class="outline-text-3" id="text-1-6">


        <p>
          Project leads are required to make a <b>brief</b> presentation
          outlining the basic results of each completed project. A typical
          project completion presentation does not need to be very long, 4-6 slides should be
          enough for a normal project, although the number of slides is project specific.  Large
          projects with a lot of long-term data could have a dozen or more
          slides,  while very simple projects may have only 1 or 2.
        </p>
        <p>
          The project completion presentations should include:
        </p><ul>
          <li>the project name and project number(s)
          </li>
          <li>Study objectives - Why did we run this project?  What question(s) were we
            hoping to answer?
          </li>
          <li>Map(s) illustrating study area and access points
          </li>
          <li>Methods used - especially if they are non-standard
          </li>
          <li>Time frame - start and end dates, sampling frequency
          </li>
          <li>Data
            <ul>
              <li>What did we collect?
              </li>
              <li>Summary of Catch Counts
              </li>
            </ul>

          </li>
          <li>How do these results compare with similar projects in the past or in
            different locations?
          </li>
          <li>Did everything go as planned?  Are things you would do differently?
          </li>
          <li>Any other items that you think the rest of the staff should know.
          </li>
        </ul>


        <p>
          Here are some example completion  presentations that could be used as
          templates (simple to complex):
        </p><ul>
          <li><a href="file://y:/Fisheries Management/Project Tracking/Presentations/2009_BenthicSampling.ppt">Benthic Sampling</a>
          </li>
          <li><a href="file://y:/Fisheries Management/Project Tracking/Presentations/Liskauskas_Shawanagaarea_ESTN_2009.ppt">Shawanagaarea_ESTN_2009</a>
          </li>
          <li><a href="file://y:/Fisheries Management/Project Tracking/Presentations/Vicki_OCFA walleye.ppt">OCFA EGB Walleye Assessment</a>
          </li>
          <li><a href="file://y:/Fisheries Management/Project Tracking/Presentations/Gile-CFsampling2009.ppt">2009 Commerical Catch Sampling</a>
          </li>
        </ul>


        <p>
          Project Completion presentations should be uploaded to Project Tracker
          and should be named following the naming conventions described here:
        </p>

      </div>

    </div>

    <div id="outline-container-1-7" class="outline-3">
      <h3 id="sec-1-7"><span class="section-number-3">1.7</span> Project Summary Report </h3>
      <div class="outline-text-3" id="text-1-7">


      </div>

      <div id="outline-container-1-7-1" class="outline-4">
        <h4 id="sec-1-7-1"><span class="section-number-4"></span> Purpose </h4>
        <div class="outline-text-4" id="text-1-7-1">


          <ul>
            <li>More detailed summary of project(s)
            </li>
            <li>Includes results of analysis
            </li>
            <li>Integrates findings from other projects and literature
            </li>
            <li>For public dissemination
            </li>
            <li>Editorial Review
            </li>
            <li>Length of reports is project specific
            </li>
          </ul>



        </div>

      </div>

      <div id="outline-container-1-7-2" class="outline-4">
        <h4 id="sec-1-7-2"><span class="section-number-4"></span> Operations </h4>
        <div class="outline-text-4" id="text-1-7-2">


          <p>
            Provide a listing of information that Operations will need at this
            stage to make your project successful.
          </p>
        </div>

      </div>

      <div id="outline-container-1-7-3" class="outline-4">
        <h4 id="sec-1-7-3"><span class="section-number-4"></span> Data Management </h4>
        <div class="outline-text-4" id="text-1-7-3">


          <p>
            Provide a listing of considerations associated with data management
            that will need to be given some thought at this stage to make your
            project successful.
          </p>

        </div>

      </div>

      <div id="outline-container-1-7-4" class="outline-4">
        <h4 id="sec-1-7-4"><span class="section-number-4"></span> Additional Considerations </h4>
        <div class="outline-text-4" id="text-1-7-4">



        </div>
      </div>

    </div>

    <div id="outline-container-1-8" class="outline-3">
      <h3 id="sec-1-8"><span class="section-number-3">1.8</span> OLID/Meta data management tools </h3>
      <div class="outline-text-3" id="text-1-8">

        <p>THis is a place holder for the corporate meta data requirements.  They
          are an important part of what we do.
        </p>

      </div>
    </div>

  </div>

  <div id="outline-container-2" class="outline-2">
    <h2 id="sec-2"><span class="section-number-2">2</span> Milestone Naming Conventions </h2>
    <div class="outline-text-2" id="text-2">


      <p>
        Before the reporting milestones can be uploaded to project tracker,
        they must be named so that they are unique, unambiguous, and will
        not conflict with other projects or reporting milestones.  Names like
        "Project Description.doc", "Project Completion.pdf" or "Schedule.xls" are not unique
        and should be avoided.
      </p>
      <p>
        Whenever possible, the Milestone Reports should be named using the
        following conventions:
      </p>
      <p>
        "<i>PRJ_CD(s)</i>"-"<i>Where</i>"-"<i>ProjectName</i>"-"<i>MileStone</i>.ext"
      </p>
      <p>
        The follow table provides some examples:
      </p><table class="table">
        <caption></caption>
        <colgroup><col class="left" />
        </colgroup>
        <thead>
          <tr><th scope="col" class="left">File Name</th></tr>
        </thead>
        <tbody>
          <tr><td class="left">LHA_IA09_257-PointeauBaril-SMIN-proposal.ppt</td></tr>
          <tr><td class="left">LHA_IA07_002-CapeRich-Index-Completion.pdf</td></tr>
          <tr><td class="left">LHA_IA09_028-NCCoop-SamplingGuide-Captain.doc</td></tr>
          <tr><td class="left">LHA_SC11_122-SouthBay-RovingCreel-Description.doc</td></tr>
          <tr><td class="left">LHA_IA09_257_PointeauBaril-SMIN-Completion.ppt</td></tr>
          <tr><td class="left">LHA_IA10_027_Watchers_Index.zip</td></tr>
          <tr><td class="left">LHA_IA09_F13F14_IroquoisMacGregorBayFLIN_Completion.ppt</td></tr>
        </tbody>
      </table>

      <p>
        When the project reporting milestone is associated with more than one
        project is best to concatenate the project suffixes together
        (as in the Iroquois Bay/McGregor Bay FLIN completion presentation in
        the example table).  If there are too many project to concatenate,
        they can be summarized by an appropriate description (e.g. -
        LHA_IA09_SUM-OffshoreIndex-Summary.pdf).  Please contact Steve Currie
        and Lloyd Mohr if there are situations that have not been addressed by
        these examples.
      </p>


      <p></p>
      <p></p>

    </div>
  </div>
</div>




{% endblock %}
