{% extends "base.html" %}

{% block extrahead  %} 
<link rel="stylesheet" type="text/css" 
  href="{{ STATIC_URL }}css/themeblue.css" /> 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tablesorter.css" /> 
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
 <script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
<script>
$(document).ready(function() 
    { 
        $("table.tablesorter-blue").tablesorter(); 
    } 
); 
</script>
{% endblock %}

{% block title  %} {{ block.super }}| Approve Projects  {% endblock %}

{% block content  %} 

<p> <a href="{% url 'ProjectList' %}">Return to Index</a> | 
    <a href="{% url 'MyProjects' %}">View My Projects</a> 
</p>

<h1> Approve Projects</h1>
<hr />

<div id="tabs">
<ul>
<li><a href="#tabs-1">This Year</a></li>
<li><a href="#tabs-2">Last Year</a></li>
</ul>

<p> <em>(Consider adding Project Type to form)</em>  </p>

<div id="tabs-1">
<h2>{{ year }}</h2>

{% if thisYearEmpty == False %}
  <form id="thisyear" method="post" action="">
  {% csrf_token %}
  {{ thisyearsformset.management_form }}
  {{ thisyearsformset.non_form_errors.as_ul }}
  <table id="myTable" class="tablesorter-blue">
  {% for form in thisyearsformset.forms %}
    {% if forloop.first %}
    <thead><tr>
      {% for field in form.visible_fields %}
      <th>{{ field.label|capfirst }}</th>
      {% endfor %}
    </tr></thead>
    {% endif %}
    <tr class="{% cycle row1,row2 %}">
    {% for field in form.visible_fields %}
      <td>
      {# Include the hidden fields in the form #}
      {% if forloop.first %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
      {% endif %}
        {{ field.errors.as_ul }}
        {{ field }}
      </td>
    {% endfor %}
    </tr>
  {% endfor %}
  </table>
  <hr />  
  <input type="hidden" name="form-type" value="thisyear" /> 
  <input type="submit" name="ThisYear" value="Approve Projects" />
  </form>
{% else %}
  <p><em>There are currently no projects for {{ year }}  </em></p>
{% endif %}
</div>

<div id="tabs-2">
<h2>{{ year|add:"-1" }}</h2>

{% if lastYearEmpty == False %}
  <form id="lastyear" method="post" action="">
  {% csrf_token %}
  {{ lastyearsformset.management_form }}
  {{ lastyearsformset.non_form_errors.as_ul }}
  <table id="myTable" class="tablesorter-blue">
  {% for form in lastyearsformset.forms %}
    {% if forloop.first %}
    <thead><tr>
      {% for field in form.visible_fields %}
      <th>{{ field.label|capfirst }}</th>
      {% endfor %}
    </tr></thead>
    {% endif %}
    <tr class="{% cycle row1,row2 %}">
    {% for field in form.visible_fields %}
      <td>
      {# Include the hidden fields in the form #}
      {% if forloop.first %}
        {% for hidden in form.hidden_fields %}
        {{ hidden }}
        {% endfor %}
      {% endif %}
        {{ field.errors.as_ul }}
        {{ field }}
      </td>
    {% endfor %}
    </tr>
  {% endfor %}
  </table>
  <hr />
  <input type="hidden" name="form-type" value="lastyear" /> 
  <input type="submit" name="LastYear" value="Approve Projects" />
  </form>
{% else %}
  <p><em>There are currently no projects for {{ year|add:"-1" }} </em></p>
{% endif %}
</div>

</div>

{% endblock %} 
