<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <title>  {% block title  %} UGMLU  {% endblock %}  </title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/worg.css" /> 
    <link rel="stylesheet" href="{{ STATIC_URL }}css/cupertino/jquery-ui-1.10.2.custom.css"/>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" /> 
    <script src="{{ STATIC_URL }}js/jquery-1.9.1.js"></script>
    <script src="{{ STATIC_URL }}js/jquery-ui-1.10.2.custom.js"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js"></script> 
    {% block extrahead  %} {% endblock %}
  </head>

<body>  

{% if user.is_authenticated %}
Welcome {{ user.username }} [<a href="{% url 'logout' %}">Logout</a>, My Profile]
{% else %}
[<a href="{% url 'login' %}">Login</a> or Register]
{% endif %} 

{% block content  %} {% endblock %}
{% block extracontent  %} {% endblock %}
</body>
</html>
