{% extends "base.html" %}

{% block title  %} {{ block.super }}| Index  {% endblock %}

{% block content  %} 



<h1>Site Index</h1>

<ul>
   <li><a href="{% url 'ProjectList' %}">Project List</a></li>
   <li><a href="{% url 'ApprovedProjectsList' %}">Approved Project List</a></li>
   <li><a href="{% url 'ApproveProjects' %}">Approve Projects</a></li>
   <li><a href="{% url 'NewProject' %}">Create a new project</a></li>
   <li><a href="{% url 'UploadList' %}">Upload List</a></li>
   <li><a href="{% url 'CrispyForm' %}">Crispy-form example 1</a></li>
   <li><a href="{% url 'CrispyForm2' %}">Crispy-form example 2</a></li>
</ul>

<!-- this example might work for file uploads. from:
https://groups.google.com/forum/?fromgroups=#!topic/django-users/-nWtJdEhHqk 
-->
<button id="opener">Upload File</button>

<div id="testdialog" title="File Upload">
<form method="POST" id="" action="">
    {% csrf_token  %}
    File:<input type="text" name="fname"/> 
    <input type="submit"  value="Browse" />  
    <input type="submit"  value="Submit" />  
</form>
</div>

 <script>
    $( "#testdialog" ).dialog({ autoOpen: false });
    $( "#opener" ).click(function() {
        $( "#testdialog" ).dialog( "open" );
    });
</script>


{% endblock %}
