
<!DOCTYPE html>

<html>
  <head>
    <title>  {% block title  %} UGMLU  {% endblock %}  </title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/worg.css" />
  </head>

<body>

<p>  
<a href="{% url 'home' %}">Index </a> | 
<a href="{% url 'ProjectList' %}">Return to Index</a> | 
<a href="{% url 'MyProjects' %}">View My Projects</a> | 
<a href="{% url 'haystack_search' %}">Search Projects</a> 
</p>
<hr />

{% load projects %}

<h1>Project Details</h1>
  <p><strong>Project Code:</strong>  {{ project.PRJ_CD }} </p>
  <p><strong>Project Name:</strong>  {{ project.PRJ_NM }}</p>
  <p><strong>Project Lead:</strong>  <a href="#">{{ project.PRJ_LDR }}</a> </p>
  <p><strong>Start and End Dates:</strong>  {{ project.PRJ_DATE0 }}  - 
  {{ project.PRJ_DATE1 }} </p>
  <p><strong>Project Description:</strong></p>
  <div style="width:800px; padding:10px;
	      border:1px solid #CCCCCC;bgcolor="#FFFFFF"">
    {% if project.COMMENT %}
      <p>{{ project.COMMENT|linebreaks  }} </p>
    {% else %}
      <p><em>Sorry. No project description has been provided. </em>   </p>
    {% endif %}
  </div>
  <p><strong>Project Type:</strong>  <a href="#">
  {{ project.ProjectType.project_type}}</a> 
 </p> 
  <p><strong>Master Database:</strong> <a href="#">
  {{ project.master_database.master_database }}</a>
  <p><strong>keywords:</strong> 

        {% for tag in project.tags.all %}
             <a href="{% url 'TaggedProjects' tag.name %}">{{ tag.name }}</a> , 
        {% endfor %}

  </p>


<form>
<fieldset>
<legend> Milestones:</legend>

{% for milestone in milestones %}
  <input type="checkbox" disabled="disabled" 
    {% if milestone.completed  %} checked="checked" {% endif %}> {{ milestone.milestone.label }}
{% endfor %}

</fieldset>
</form>


<br />
{% if edit %} 
<a href="{% url 'EditProject' project.slug %}"
   onclick="javascript:window.location=this.href"> 
  <button>Edit Information</button> </a>

  {% if project.Approved %}
  <a href="{% url 'SisterProjects' project.slug %}" 
   onclick="javascript:window.location=this.href">
   <button>Sister Projects</button> </a>
  {% else %}
    <a href="#"
   onclick="javascript:window.location=this.href">
   <button>Sister Projects</button> </a>
  {% endif %}

{% endif  %}
<a href="{% url 'CopyProject' project.slug %}"
   onclick="javascript:window.location=this.href"> 
   <button>Copy Project</button> </a>
{% if_bookmarked user project %}
  <a href="{% url 'Unbookmark_Project' project.slug %}" onclick="javascript:window.location=this.href">
   <button>Remove Bookmark</button> </a>
{% else %}
  <a href="{% url 'Bookmark_Project' project.slug %}" onclick="javascript:window.location=this.href">
   <button>Bookmark Project</button> </a>
{% endif_bookmarked %}

<hr />

<h2>Reporting Requirements:</h2>

<h3>Core Reporting Requirements:</h3>

{% if Core %}
    <table>
    {% for report in Core  %}
       <tr>
         <td> <input type="checkbox" disabled="disabled"
            {% if report.required %} checked="checked" {% endif %}>
        {{ report.milestone }}
	   </td>
        
        {% if report.filepath %}
            <td><a href="{% url 'serve_file' report.filepath %}">{{ report.filepath }}</a></td>
        {% else %}
            {% if report.required %}
                <td><div class="na"><em> Report not available yet. </em></div><td>
            {% else %}
                <td><div class="na"><em> Not requested. </em></div></td>
            {% endif %}
        {% endif %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p><em>No reporting requirements associated with this project. </em></p>
{% endif %}

<h3>Associated Files:</h3>

<em>This feature has not been implemented yet. </em>

<h3>Additional Reporting Requirements:</h3>

{% if Custom %}
    <table>
    {% for report in Custom  %}
       <tr>
         <td> <input type="checkbox" disabled="disabled"
            {% if report.required %} checked="checked" {% endif %}>
        {{ report.milestone }}
	   </td>
        
        {% if report.filepath %}
            <td><a href="{% url 'serve_file' report.filepath %}">{{ report.filepath }}</a></td>
        {% else %}
            {% if report.required %}
                <td><div class="na"><em> Report not available yet. </em></div><td>
            {% else %}
                <td><div class="na"><em> Not requested. </em></div></td>
            {% endif %}
        {% endif %}
        </tr>
    {% endfor %}
  </table>
{% else %}
    <p><em>No additonal reporting requirements associated with this project. </em></p>
{% endif %}

<br />
<br />
{% if edit %}
<a href="{% url 'ReportUpload' project.slug %}" onclick="javascript:window.location=this.href"> 
  <button>Upload Reports</button> </a>
{% endif %}
{% if manager %}
<a href="{% url 'Reports' project.slug %}" 
  onclick="javascript:window.location=this.href"> 
  <button>Change Reporting Requirements</button> </a>
{% endif %}





</body>
</html>
