{% extends "base.html" %}

{% block title  %} {{ block.super }}| New Project  {% endblock %}



{% block content  %} 

<p> 
<a href="{% url 'home' %}">Index </a> | 
<a href="{% url 'ApprovedProjectsList' %}">Approved Project List</a> | 
<a href="#">View My Projects</a> 
</p>

<h1>Projects</h1>

{% if object_list %}
  <ul id="object_list">
    {% for project in object_list %}
      <li><a href="{{ project.get_absolute_url }}">
     {{ project.PRJ_CD }}</a> - {{ project.PRJ_NM  }} |
     <a href="{% url 'Reports' project.slug %}">Reporting Requirements</a> </li> 
    {% endfor %}
  </ul>
{% else %}

<p>Sorry no projects available.</p>

{% endif %}

<p>
<a href="{% url 'NewProject' %}">Create a new project</a> |

</p>

{% endblock %}
