{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block extrahead %}

<script>
$(document).ready(function() {
    $('.dateinput').datepicker({ format: "yyyy/mm/dd" });
}); 
</script>

<style type="text/css">
#id_PRJ_CD{width:200px;} 
.textinput{width:400px;} 
.textarea{width:400px;} 
.tagwidget{width:400px;} 
.select{width:200px;} 
.dateinput{width:200px;} 

</style>


{% endblock %}


{% block title  %} {{ block.super }}| {{ action  }} Project  {% endblock %}


{% crispy NewProjectForm NewProjectForm.helper %}

{% block content  %} 

<h1>{{ action  }} Project</h1>

{% crispy form %}


{% endblock %}
