{% extends "base.html" %}

{% block extrahead  %} 
<link rel="stylesheet" type="text/css" 
  href="{{ STATIC_URL }}css/themeblue.css" /> 
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/tablesorter.css" /> 
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script> 
 <script>
$(function() {
$( "#tabs" ).tabs();
});
</script>
<script>
$(document).ready(function() 
    { 
        $("table.tablesorter-blue").tablesorter(); 
    } 
); 
</script>

<script type="text/javascript">
<!--
 
function toggle_visibility(id) {
var e = document.getElementById(id);
if(e.style.display == 'block')
e.style.display = 'none';
else
e.style.display = 'block';
}
 
//-->
</script>


{% endblock %}

{% block title  %} {{ block.super }}| Projects  {% endblock %}

{% block content  %} 

<p> 
<a href="{% url 'home' %}">Index </a> | 
<a href="{% url 'ApprovedProjectsList' %}">Approved Project List</a> | 
<a href="{% url 'MyProjects' %}">View My Projects</a> 
</p>

<h1>Projects  {% if year %} {{ year }} {% endif %}</h1>

<a href="#" onclick="toggle_visibility('filter');">Filter List: </a>
<div id="filter" style="display:none">
<div style="border: 1px solid #CCCCCC; padding:10px; border-radius: 15px;">
 <form action="" method="get">
        {{ filter.form.as_p }}
        <input value="Apply Filter" type="submit" />
</form>

</div>
</div>


{% if object_list %}
  <table id="myTable" class="tablesorter-blue">
    <thead><tr><td>Year</td><td>Project Code</td> <td>Project Type</td>
    <td>Project Name</td></tr>
    </thead>
  <tbody>
  {% for project in object_list %}
    <tr class="{% cycle row1,row2 %}">
     <td> {{ project.YEAR }} </td>
     <td>
       <a href="{{ project.get_absolute_url }}"> {{ project.PRJ_CD }}</a> 
     </td>
     <td> {{ project.ProjectType }} </td>
     <td>
       {{ project.PRJ_NM  }} 
     </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>

{% else %}

<p>Sorry no projects available.</p>

{% endif %}

<p>
<a href="{% url 'NewProject' %}">Create a new project</a> |

</p>

{% endblock %}
