<!DOCTYPE html>

<html>
  <head>
    <title>  {% block title  %} UGMLU  {% endblock %}  </title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/worg.css" />
  </head>

<body>

<p>  
<a href="{% url 'home' %}">Index </a> | 
<a href="{% url 'ProjectList' %}">Return to Index</a> | 
<a href="#">View My Projects</a> 
</p>

<h1> Reporting Requirements for {{ project.PRJ_CD }}</h1>
<hr />

<h2> {{ project.PRJ_NM }} </h2>

<form method="POST" id="reports" action="">
{% csrf_token %}
<h3>Core Reporting Requirements:</h3>

    <ul style="list-style-type: none;">
      {{core.as_ul}}
    </ul>



<h3>Additional Reporting Requirements:</h3>
  
    <ul style="list-style-type: none;">
      {{custom.as_ul}}
    </ul>
  
<hr />
<input type="submit" name="Save" value="Save Changes" />
</form>

</body>
</html>
