<!DOCTYPE html>

<html>
  <head>
    <title>  {% block title  %} UGMLU  {% endblock %}  </title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/worg.css" />
  </head>

<body>

<p>  
<a href="{% url home %}">Index </a> | 
<a href="{% url ProjectList %}">Return to Index</a> | 
<a href="#">View My Projects</a> 
</p>

<h1> UGLMU Project</h1>
<hr />

<h2>Project Information:</h2>
<p>This section will include information about the project:</p>
<ul>
  <li>Project Code:  {{ project.PRJ_CD }} </li>
  <li>Project Name:  {{ project.PRJ_NM }}</li>
  <li>Project Lead:  <a href="#">{{ project.PRJ_LDR }}</a> </li>
  <li>start and end dates:  {{ project.PRJ_DATE0 }}  - 
  {{ project.PRJ_DATE1 }} </li>
  <li>Project Description:</li>
    {% if project.COMMENT %}
    <p>{{ project.COMMENT  }} </p>
    {% endif %}
  <li>Project Type:  <a href="#">
  {{ project.ProjectType.Project_Type}}</a> <em>(This will be a link
  to the wiki entry for this project type )</em>
 </li> 
  <li>Master Database: <a href="#">
  {{ project.MasterDatabase.MasterDatabase }}</a>
  <em>(This will be a link to a summary page showing where this
  database is, and provide a list of recently appended projects and
  projects pending. )</em></li>

  <li>keywords <em>(each will be a hyperlink)</em> </li>
  <li>yada-yada-yada</li>
</ul>

<a href="{% url EditProject project.slug %}"> <button>Edit Information</button> </a>
<a href="{% url CopyProject project.slug %}"> <button>Copy Project</button> </a>

<p>By the way, here are two disabled check boxes:</p>
<ul>
  <li> <input type="checkbox" disabled="disabled"
  checked="checked"> Checked </li> 
<li>   <input type="checkbox" disabled="disabled"> Unchecked </li>
</ul>
 



<hr />

<h2>Reporting Requirements:</h2>

<p><em>(To be editable only for managers.)</em></p>

<h3>Core Reporting Requirements:</h3>
  <form method="POST" id="core" action=""> {% csrf_token %}
  <ul style="list-style-type: none;">
    {{core.as_ul}}
  </ul>
<!--<input type="submit" name="Save" value="Copy Project" /> -->
  </form>

<!--
<h3>Additional Reporting Requirements:</h3>
  <form method="POST" id="custom" action="{%  url ProjectList %}">
  <ul style="list-style-type: none;">
   {{additional.as_ul}}
  </ul>
  </form>

<hr />
<input type="submit" name="Save" value="Submit Project" />
-->
</body>
</html>
