<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
  <head>
    <title>  {% block title  %} UGMLU  {% endblock %}  </title>
    <link rel="stylesheet" href="{{ STATIC_URL }}worg.css" type="text/css" media="screen" />
  </head>



<body>  
<h1>New UGLMU Project</h1>
<hr />
<h2>Project Information:</h2>
<p>This section will include information about the project:</p>
<ul>
  <li>Project Code</li>
  <li>Project Name</li>
  <li>Project Lead</li>
  <li>start and end dates</li>
  <li>Project Description</li>
  <li>keywords</li>
  <li>yada-yada-yada</li>
</ul>

<hr />

<h2>Reporting Requirements:</h2>

<p><em>(To be editable only for managers.)</em></p>

<h3>Core Reporting Requirements:</h3>
<p><em>(These should default to True.)</em></p>
  <form method="" id="" action="">
  <ul style="list-style-type: none;">
    {{core.as_ul}}
  </ul>
  </form>
<h3>Additional Reporting Requirements:</h3>
  <form method="" id="" action="">
  <ul style="list-style-type: none;">
   {{additional.as_ul}}
  </ul>
  </form>

<hr />
<input type="submit" name="Save" value="Submit Project" />

</body>
</html>
