<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Minimal Django File Upload Example</title>   
    </head>
    <body>
    <!-- List of uploaded reports -->
    {% if reports %}
        <ul>
        {% for report in reports %}
            <li><a href="{{ report.report_path }}">{{ report.report_path }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No reports.</p>
    {% endif %}

        <!-- Upload form. Note enctype attribute! -->
        <form action="{% url 'UploadList' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}

	    {{ form.as_p }}

            <p><input type="submit" value="Upload" /></p>
        </form>


<div class="ctrlHolder ">
    <label for="profile"><em>*</em> Profile</label>

    <select class="required " name="recipe.recipe[profile]" id="id_recipe__dot__recipe__braceleft__profile__braceright__">
        <option value="29362F95-A80E-102D-9263-003048D8A48A">Marc Veyrat</option>
        <option value="AF98753D-A80E-102D-9263-003048D8A48A">Paul Bocuse</option>
    </select>

    <p class="formHint">
        <a class="add-another" id="add_id_recipe__dot__recipe__braceleft__profile__braceright__" href="/profile/create?displayAttribute=name&amp;valueAttribute=id">Click here to create a new profile</a>, if your choice isn't in the list.
    </p>
</div>



    </body>
</html> 
