{% extends "auth/auth_base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div id="Login">
  <div class="row top-buffer">
    <!-- Alignment -->
    <div class="col-sm-offset-3 col-sm-5">

      <!-- Form itself -->
      <form method="POST" action="" class="well">
        {% csrf_token %}
        <legend>UGLMU Project Tracker Login</legend>

        {% if form.errors %}
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <ul>
            {% for error in form.errors.values %}
            <li>{{ error|striptags }}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}

        <!-- Full Name -->
        <div class="form-group">
          <div class="controls">
            <input type="text" class="form-control" name="username"
                   placeholder="User Name" id="username" required
                   data-validation-required-message="Please enter your user name" />
            <p class="help-block"></p>
          </div>
        </div>

        <!-- Password -->
        <div class="form-group">
          <div class="controls">
            <input type="password" class="form-control" placeholder="password"
                   name="password" id="password" required />
          </div>
        </div>
        <br />
        <div class="row">
          <button type="submit" class="btn btn-primary pull-right">Login</button><br /></p>
</div>

</form>
</div>
</div>
</div>



{% endblock %}
