CherryPy>=3.2.4
Django>=1.5.5
South>=0.8.2
WebOb>=1.2.3
six>=1.4.1
waitress>=0.8.7
beautifulsoup4>=4.3.2
WebTest>=2.0.9
Werkzeug>=0.9.4
#argparse>=1.2.1


colorama>=0.2.7
coverage>=3.7
django-activity-stream>=0.4.5beta1
django-coverage>=1.2.4
django-crispy-forms>=1.4.0

sqlparse>=0.1.9
django-debug-toolbar>=1.2

django-devserver>=0.7.0
django-extensions>=1.2.5
django-filter>=0.7
django-haystack>=2.1.0
django-olwidget>=0.61.0
django-passwords>=0.2.0
django-pagination>=1.0.7
django-taggit>=0.10
django-webtest>=1.7.5
#django-werkzeug-debugger-runserver>=0.2
factory-boy>=2.2.1
mock>=1.0.1
requests>=2.0.1
simplejson>=3.3.1
pyelasticsearch>=0.6
astroid>=1.0.1
pylint>=1.0.0

pytz
pywin32>=218



testfixtures>=3.0.1

ws4py>=0.3.2

pytest>=2.5.2
pytest-django>=2.6


pyreadline>=2.0
ipython>=2.0.0
